.div
{
    margin:  20px 20PX;
    border: 1px solid black;
    height: 200px;
    width: 97%;
    text-align: center;
    color: white;
}

.head
{
    
    font-weight: 500;
}

.text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn{
    background-color: green;
    color: white;
    height: 60px;
    width: 150px;
    border: 0;
    border-radius: 50px;
}

.btn:hover
{
    background-color: brown;
    color: black;
}

.div:hover
{
    background-color: chocolate;
    color: black;
}
